flows_casi.json
[{"id":"d6102745.133958","type":"tab","label":"***Git Update Server***"},{"id":"e00de040.a5b5b","type":"vis in","z":"d6102745.133958","language":"en","x":190,"y":60,"wires":[["72744a5f.93dac4"]]},{"id":"72744a5f.93dac4","type":"switch","z":"d6102745.133958","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"git_push","vt":"str"},{"t":"eq","v":"git_reboot","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":361,"y":69,"wires":[["711fa4ea.e1ff4c","6fd448c5.3180d8"],["d466f050.d3e25"]]},{"id":"764263c9.00bf7c","type":"bigexec","z":"d6102745.133958","name":"delete to node red","command":"sudo","commandArgs":"rm /opt/CAC/flows_casi.json","minError":1,"minWarning":1,"cwd":"","shell":true,"extraArgumentProperty":"","envProperty":"","format":"","limiter":true,"payloadIs":"triggerNoStdin","x":530,"y":200,"wires":[[],[],[]]},{"id":"711fa4ea.e1ff4c","type":"delay","z":"d6102745.133958","name":"5s","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":368.0833282470703,"y":198.25000953674316,"wires":[["764263c9.00bf7c","509286b9.034be8"]]},{"id":"d7905ba1.c3ae08","type":"bigexec","z":"d6102745.133958","name":"copy to node red","command":"sudo","commandArgs":"cp /home/ubuntu/.node-red/flows_ip-172-31-39-56.json /opt/CAC/flows_casi.json ","minError":1,"minWarning":1,"cwd":"","shell":true,"extraArgumentProperty":"","envProperty":"","format":"","limiter":true,"payloadIs":"triggerNoStdin","x":543.3333129882812,"y":269.5,"wires":[[],[],[]]},{"id":"1a70b97a.e3b9c7","type":"delay","z":"d6102745.133958","name":"5s","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":368.08331298828125,"y":275.75,"wires":[["d7905ba1.c3ae08","9da5b37b.fdbfa"]]},{"id":"a2c812de.ae65d","type":"inject","z":"d6102745.133958","name":"","topic":"","payload":"","payloadType":"num","repeat":"","crontab":"","once":false,"x":231.83331298828125,"y":202,"wires":[["711fa4ea.e1ff4c"]]},{"id":"c844c2e2.3025a","type":"inject","z":"d6102745.133958","name":"","topic":"","payload":"","payloadType":"num","repeat":"","crontab":"","once":false,"x":227.33331298828125,"y":275.75,"wires":[["1a70b97a.e3b9c7"]]},{"id":"79160c27.bcbcc4","type":"bigexec","z":"d6102745.133958","name":"git add flows_casi.json","command":"sudo git add .","commandArgs":"","minError":1,"minWarning":1,"cwd":"/opt/CAC/","shell":true,"extraArgumentProperty":"","envProperty":"","format":"","limiter":true,"payloadIs":"triggerNoStdin","x":544,"y":343,"wires":[[],[],[]]},{"id":"5c90d7dc.27f278","type":"delay","z":"d6102745.133958","name":"5s","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":368.75,"y":349.25,"wires":[["79160c27.bcbcc4","cae89197.29353"]]},{"id":"b1243129.94cbd","type":"inject","z":"d6102745.133958","name":"","topic":"","payload":"","payloadType":"num","repeat":"","crontab":"","once":false,"x":228,"y":349.25,"wires":[["5c90d7dc.27f278"]]},{"id":"b0b6aeba.53c6c","type":"bigexec","z":"d6102745.133958","name":"git commit flows","command":"sudo git commit -m \"flows commit\"","commandArgs":"","minError":1,"minWarning":1,"cwd":"/opt/CAC/","shell":true,"extraArgumentProperty":"","envProperty":"","format":"","limiter":true,"payloadIs":"triggerNoStdin","x":535,"y":417,"wires":[[],[],[]]},{"id":"cae89197.29353","type":"delay","z":"d6102745.133958","name":"5s","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":369.75,"y":423.25,"wires":[["b0b6aeba.53c6c","3f4bacc8.323374"]]},{"id":"7df6ac0f.d365c4","type":"inject","z":"d6102745.133958","name":"","topic":"","payload":"","payloadType":"num","repeat":"","crontab":"","once":false,"x":229,"y":423.25,"wires":[["cae89197.29353"]]},{"id":"2105912d.16e8ae","type":"bigexec","z":"d6102745.133958","name":"git push","command":"sudo git push -u origin master","commandArgs":"","minError":1,"minWarning":1,"cwd":"/opt/CAC/","shell":true,"extraArgumentProperty":"","envProperty":"","format":"","limiter":true,"payloadIs":"triggerNoStdin","x":860,"y":420,"wires":[[],[],[]]},{"id":"3f4bacc8.323374","type":"delay","z":"d6102745.133958","name":"5s","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":710,"y":420,"wires":[["2105912d.16e8ae","59171337.8b07ec","b8059d6c.50212"]]},{"id":"9a5d7f08.8c3e1","type":"comment","z":"d6102745.133958","name":"Update to ---->>>>Server ","info":"","x":550,"y":160,"wires":[]},{"id":"a73d64c.e245398","type":"bigexec","z":"d6102745.133958","name":"delete to vis","command":"sudo","commandArgs":"rm -r /opt/CAC/vis","minError":1,"minWarning":1,"cwd":"","shell":true,"extraArgumentProperty":"","envProperty":"","format":"","limiter":true,"payloadIs":"triggerNoStdin","x":870,"y":200,"wires":[[],[],[]]},{"id":"509286b9.034be8","type":"delay","z":"d6102745.133958","name":"5s","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":710,"y":200,"wires":[["a73d64c.e245398","e4cceae2.10eda8"]]},{"id":"c4a4fb3c.c66858","type":"bigexec","z":"d6102745.133958","name":"delete to JsonDB","command":"sudo","commandArgs":"rm -r /opt/CAC/JsonDB","minError":1,"minWarning":1,"cwd":"","shell":true,"extraArgumentProperty":"","envProperty":"","format":"","limiter":true,"payloadIs":"triggerNoStdin","x":1190,"y":200,"wires":[[],[],[]]},{"id":"e4cceae2.10eda8","type":"delay","z":"d6102745.133958","name":"5s","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1010,"y":200,"wires":[["c4a4fb3c.c66858","1a70b97a.e3b9c7"]]},{"id":"9da5b37b.fdbfa","type":"delay","z":"d6102745.133958","name":"5s","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":730,"y":280,"wires":[["ec87ef0.336f41","fef62adb.3867c8"]]},{"id":"ec87ef0.336f41","type":"bigexec","z":"d6102745.133958","name":"copy vis","command":"sudo","commandArgs":"cp -r /home/ubuntu/.node-red/vis/ /opt/CAC/vis/","minError":1,"minWarning":1,"cwd":"","shell":true,"extraArgumentProperty":"","envProperty":"","format":"","limiter":true,"payloadIs":"triggerNoStdin","x":860,"y":280,"wires":[[],[],[]]},{"id":"fef62adb.3867c8","type":"delay","z":"d6102745.133958","name":"5s","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1050,"y":280,"wires":[["420bd965.29df08","5c90d7dc.27f278"]]},{"id":"420bd965.29df08","type":"bigexec","z":"d6102745.133958","name":"copy JsonDB","command":"sudo","commandArgs":"cp -r /home/ubuntu/.node-red/JsonDB/ /opt/CAC/JsonDB","minError":1,"minWarning":1,"cwd":"","shell":true,"extraArgumentProperty":"","envProperty":"","format":"","limiter":true,"payloadIs":"triggerNoStdin","x":1200,"y":280,"wires":[[],[],[]]},{"id":"263ff936.5e69c6","type":"delay","z":"d6102745.133958","name":"5s","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":730,"y":340,"wires":[["51779c6b.35a4b4","87dc4f32.4544f"]]},{"id":"51779c6b.35a4b4","type":"bigexec","z":"d6102745.133958","name":"git add vis","command":"sudo git add .","commandArgs":"","minError":1,"minWarning":1,"cwd":"/opt/CAC/vis/","shell":true,"extraArgumentProperty":"","envProperty":"","format":"","limiter":true,"payloadIs":"triggerNoStdin","x":870,"y":340,"wires":[[],[],[]]},{"id":"4e4d4c72.bbd7e4","type":"bigexec","z":"d6102745.133958","name":"git add JsonDB","command":"sudo git add .","commandArgs":"","minError":1,"minWarning":1,"cwd":"/opt/CAC/JsonDB","shell":true,"extraArgumentProperty":"","envProperty":"","format":"","limiter":true,"payloadIs":"triggerNoStdin","x":1200,"y":340,"wires":[[],[],[]]},{"id":"87dc4f32.4544f","type":"delay","z":"d6102745.133958","name":"5s","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1030,"y":340,"wires":[["4e4d4c72.bbd7e4","cae89197.29353"]]},{"id":"6fd448c5.3180d8","type":"change","z":"d6102745.133958","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"git_pull","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":583,"y":75.66666793823242,"wires":[["7bf67031.97328"]]},{"id":"7bf67031.97328","type":"change","z":"d6102745.133958","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":783,"y":75.66666793823242,"wires":[["5562fc83.2c39f4","daf299e9.782278"]]},{"id":"5562fc83.2c39f4","type":"vis in","z":"d6102745.133958","language":"en","x":1033,"y":55.66666793823242,"wires":[[]]},{"id":"839c255a.8de138","type":"change","z":"d6102745.133958","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"git_pull","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":480,"wires":[["423d672a.456de8"]]},{"id":"423d672a.456de8","type":"change","z":"d6102745.133958","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":480,"wires":[["17f809ad.9a5e26","e9ece968.fac788"]]},{"id":"17f809ad.9a5e26","type":"vis in","z":"d6102745.133958","language":"en","x":750,"y":480,"wires":[[]]},{"id":"ebcaa37c.34039","type":"inject","z":"d6102745.133958","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":210,"y":480,"wires":[["839c255a.8de138"]]},{"id":"d466f050.d3e25","type":"exec","z":"d6102745.133958","command":"sudo reboot","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":550,"y":118,"wires":[[],[],[]]},{"id":"729ce29a.eebfbc","type":"change","z":"d6102745.133958","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"git_pull_reboot","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":720,"wires":[["481e3dde.80daa4"]]},{"id":"481e3dde.80daa4","type":"change","z":"d6102745.133958","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":720,"wires":[["656a52c0.6bb6fc"]]},{"id":"656a52c0.6bb6fc","type":"vis in","z":"d6102745.133958","language":"en","x":730,"y":720,"wires":[[]]},{"id":"a70f2f15.4f9e7","type":"inject","z":"d6102745.133958","name":"0","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":"2","x":170,"y":720,"wires":[["729ce29a.eebfbc"]]},{"id":"59171337.8b07ec","type":"change","z":"d6102745.133958","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"git_pull_reboot","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":760,"wires":[["f613b610.21d698"]]},{"id":"f613b610.21d698","type":"change","z":"d6102745.133958","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":760,"wires":[["f43f98b6.8294b8"]]},{"id":"f43f98b6.8294b8","type":"vis in","z":"d6102745.133958","language":"en","x":730,"y":760,"wires":[[]]},{"id":"6358e0c3.8645b","type":"inject","z":"d6102745.133958","name":"1","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":760,"wires":[["59171337.8b07ec"]]},{"id":"3ec67d54.03d692","type":"debug","z":"d6102745.133958","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":930,"y":820,"wires":[]},{"id":"e9ece968.fac788","type":"function","z":"d6102745.133958","name":"global set git_pull","func":"global.set('git_pull',msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":520,"wires":[[]]},{"id":"45341324.f8a54c","type":"function","z":"d6102745.133958","name":"global get git_pull","func":"msg.payload = global.get('git_pull');\nmsg.topic = 'git_pull';\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":820,"wires":[["d4f310d7.099e4","3ec67d54.03d692"]]},{"id":"faa814ac.e6c918","type":"inject","z":"d6102745.133958","name":"","topic":"","payload":"","payloadType":"date","repeat":"3","crontab":"","once":true,"onceDelay":"0.5","x":210,"y":820,"wires":[["45341324.f8a54c"]]},{"id":"d4f310d7.099e4","type":"vis in","z":"d6102745.133958","language":"en","x":730,"y":800,"wires":[[]]},{"id":"daf299e9.782278","type":"function","z":"d6102745.133958","name":"global set git_pull","func":"global.set('git_pull',msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":1030,"y":120,"wires":[[]]},{"id":"b8059d6c.50212","type":"change","z":"d6102745.133958","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"git_pull_reboot","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":560,"wires":[["b353aba3.95e938"]]},{"id":"b353aba3.95e938","type":"change","z":"d6102745.133958","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":560,"wires":[["8f95d909.f83ea8","37ff5878.543d18"]]},{"id":"8f95d909.f83ea8","type":"vis in","z":"d6102745.133958","language":"en","x":790,"y":560,"wires":[[]]},{"id":"83ac997f.523e88","type":"inject","z":"d6102745.133958","name":"0","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":230,"y":560,"wires":[["b8059d6c.50212"]]},{"id":"37ff5878.543d18","type":"function","z":"d6102745.133958","name":"global set git_pull_reboot","func":"global.set('git_pull_reboot',msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":850,"y":600,"wires":[[]]},{"id":"dcc350d1.44d4a","type":"function","z":"d6102745.133958","name":"global get git_pull_reboot","func":"msg.payload = global.get('git_pull_reboot');\nmsg.topic = 'git_pull_reboot';\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":860,"wires":[["9e0fb42.911b448","d255475c.e3b0f8"]]},{"id":"75ee813e.3009e","type":"inject","z":"d6102745.133958","name":"","topic":"","payload":"","payloadType":"date","repeat":"3","crontab":"","once":true,"onceDelay":"0.5","x":230,"y":860,"wires":[["dcc350d1.44d4a"]]},{"id":"9e0fb42.911b448","type":"vis in","z":"d6102745.133958","language":"en","x":730,"y":840,"wires":[[]]},{"id":"d255475c.e3b0f8","type":"debug","z":"d6102745.133958","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":930,"y":860,"wires":[]},{"id":"bc4638d0.2b8c38","type":"change","z":"d6102745.133958","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"git_pull_reboot","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":600,"wires":[["82dc8cd.74d327"]]},{"id":"82dc8cd.74d327","type":"change","z":"d6102745.133958","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":600,"wires":[["37ff5878.543d18"]]},{"id":"88eb77a.c1abd88","type":"inject","z":"d6102745.133958","name":"1","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"0.5","x":230,"y":600,"wires":[["bc4638d0.2b8c38"]]}]